.place-itemh {
    margin: 10px;;
    width:auto;
  }
  
  .place-item__contenth {
    padding: 0;
    width: 40vw;
    height:200px;
    display: flex;
    flex-direction: column;
  }
  
  .image-title {
    display: flex;
    flex-direction: row;
  }
  
  .place-item__infoh {
    padding: 1rem;
    text-align: center;
    overflow:scroll; 
    padding-top: 0;
    /* height:100px; */
  }
  
  p {
     font-size: 0.7em; 
  }
  .place-item__imageh {
    margin-top: 1em;
    float:left;
    margin-left: 1em;
    
  }
  
  .place-item__imageh img {
    height:10vw;
    object-fit:fill;
    border-radius: 50%;
  }
  
  .place-item__infoh h2,
  .place-item__infoh h3,
  .place-item__infoh p {
    margin: 0 0 0.5rem 0;
  }
  
  .place-item__actionsh {
    padding: 1rem;

  }
  
  .place-item__modal-contenth {
    padding: 0;
  }
  
  .place-item__modal-actionsh {
    text-align: right;
  }
  
  .place-item__actionsh button,
  .place-item__actionsh a {
    margin: 0.5rem;
  }
  
  .map-containerh {
    height: auto;
    width: 100%;
  }
  