.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #cbbcbb;
}

.droppy h4 {
  margin-left: 15px;
  margin-bottom: 0.5em;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
 
  height:25px;
  background-color: white;
  margin-bottom:10px;
  margin-left: 15px;
  width: 94%;
}

.dropdown-input {
  padding: 5px;
  height:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position:absolute;
  transform: translateY(60px);
  width:100%;
  overflow:auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding:5px;
  cursor:pointer;
}

.dropdown-item:hover {
  background-color: #cbbcbb;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}