.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}
.main-nav-subhead {
  color: #4B4744;
  align-self: center;
  line-height: 30px;
  font-family: "altivo", sans-serif;
  font-variant: small-caps;
  margin-top: -30px;
  font-size: 20px;
}
.main-navigation__title {
  color: #f9c2f2;
  align-self: center;
  margin-top: 100px;
  font-family: cursive, sans-serif;
  text-shadow: 2px 2px #ffffff;
  font-size: 75px;
}
.main-navigation__Lumpkin {
  color: #f9c2f2;
  align-self: center;
  margin-top: -75px;
  font-family: "boucherie-cursive", sans-serif;
  text-shadow: 2px 2px #ffffff;
  font-size: 100px;
}
.main-navigation__Lumpkin a {
  text-decoration: none;
  color: #ffc9ec;
}
.main-navigation__title a {
  text-decoration: none;
  color: #ffc9ec;
}

.main-navigation__header-nav {
  display: none;
  align-self: center;
  width:100%;
  height:150px;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}