.nav-links {
  list-style: none;
  margin: 0;
  margin-bottom:0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b4d4ec;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 2px solid transparent;
  color: #cbbcbb;
  text-decoration: none;
  border-color: #cbbcbb;
  padding:5px;
  
}

.nav-links a:hover {
  border-color: #fcf1f1;
}
.nav-links a:active,
.nav-links a.active {
  border-color: #fcf1f1;
  color: #cbbcbb;
  
  font-weight: bold;
}

.nav-links button {
  cursor: pointer;
  border: 2px solid #cbbcbb;
  color: #cbbcbb;
  background: transparent;
  font: inherit;
  padding:5px;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 1.5rem;
    
  }

  .nav-links a {
    color: #cbbcbb;
    text-decoration: none;
    text-shadow: 1px 1px #fcf1f1;
  }


  .nav-links button {
    border: 1px solid 292929;
    color: #cbbcbb;
    text-shadow: 1px 1px #fcf1f1;
    background: transparent;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    border-color: #fcf1f1;
    color: #cbbcbb;
    text-shadow: 1px 1px #fcf1f1;
    font-weight: bold;
  }
}
